h1 {
  text-align: center;
}

#container {
  background-color: beige;
  margin: auto;
  max-width: 500px;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li button {
  background-color: rgb(255, 0, 0);
  border-radius: 7px;
  border: none;
  color: white;
  padding: 3px 6px;
  white-space: nowrap;
  cursor: pointer;
}
ul {
  padding: 0;
}

li {
  display: flex;
  background-color: rgba(9, 105, 230, 0.224);
  width: 300px;
  justify-content: space-between;
  padding: 4px;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 4px;
  overflow-wrap: anywhere;
}

input {
  border: solid 2px;
  height: 20px;
  font-size: 20px;
  border-radius: 6px;
}
