body {
  background-color: aliceblue; /* Cor de fundo azul clara */
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; /* Fonte usada no site */
}

#container {
  background-color: yellow; /* Cor de fundo da caixa principal */
  max-width: 400px; /* Largura máxima da caixa */
  margin: 100px auto 0 ; /* Deixa um espaço em cima e coloca a caixa no meio da tela */
  text-align: center; /* Centraliza o texto */
  display: flex; /* Ativa o modo flexível para organizar os itens */
  flex-direction: column; /* Itens ficam em coluna (um embaixo do outro) */
  align-items: center; /* Alinha os itens ao centro na vertical da tela */
  min-height: 45vh; /* Altura mínima de 45% da altura da tela */
}

ul {
  padding: 0; /* Remove o espaço interno padrão da lista */
}

li {
  display: flex; /* Itens internos (texto e botão) em linha */
  border: solid 1px black; /* Borda preta ao redor */
  border-radius: 5px; /* Cantos arredondados */
  padding: 8px; /* Espaço interno da caixinha */
  width: 180px; /* Largura da caixinha */
  justify-content: space-between; /* Espaço entre o texto e o botão */
  margin-bottom: 7px; /* Espaço entre os itens da lista */
}

li button {
  background-color: rgb(225, 53, 53); /* Cor vermelha do botão */
  color: white; /* Texto branco no botão */
  border: none; /* Sem borda */
  border-radius: 4px; /* Botão com cantos arredondados */
}

button {
  cursor: pointer; /* Mostra a mãozinha ao passar o mouse (clique) */
}
